<div class="container">
    <div class="dropdown" ng-show="coins">
        <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            List of coins
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
                class="dropdown-item"
                ng-repeat="coin in coins track by $index"
                ng-click="selectCoin(coin)">
                {{coin}}
            </a>
        </div>
    </div>
    <table class="table table-bordered" ng-show="currentCoin">
        <tbody>
            <tr ng-repeat="(key, value) in currentCoin track by $index" ng-if="key !== 'id'">
                <th>{{key}}</th>
                <td>{{(value | typeof) === 'number' ? (value | number : 3) : (value)}}</td>
            </tr>
        </tbody>
    </table>
</div>
